*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 6.25rem auto;
    grid-template-columns: 13rem 1fr;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: yellow;

    grid-column-start: 1;
    grid-column-end: 3;
}

aside{
    background-color: aquamarine;
}

main{
    background-color: blueviolet;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-auto-rows: auto;
    gap: 2rem;
    padding: 2rem;
}

.card > img{
    width: 100%;

}

header>input{
    padding: 10px;
    width: 450px;
    border-radius: 20px;
    border: 1px solid green;
}

header>button{
    padding: 8px 30px;
    border-radius: 20px;
    border: 2px solid red;
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}