*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 5.5rem auto;
    grid-template-columns: 13rem 1fr;
}

header{
    padding: 0rem 1rem;
    display: flex;
    background-color: #212121;

    grid-column-start: 1;
    grid-column-end: 3;
}

.head{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

aside{
    background-color: #212121;
}

main{
    background-color: #212121;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 23.5rem);
    grid-auto-rows: auto;
    gap: 1rem;
}

.card > img{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
}

.card{
    color: white;
    cursor: pointer;
    border-radius: 0.75rem;
    background-color: #2a2a2a;
    padding: 0.5rem;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

input{
    padding: 0.75rem 1.75rem;
    width: 42%;
    border-radius: 2rem;
    border: 1px solid gray;
    background-color: black;
    color: white;
    font-size: 1rem;
}

button{
    padding: 0.8rem 2.5rem;
    border-radius: 2rem;
    border: 1px solid gray;
    background-color: rgb(43, 43, 43);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.head > img{
    padding: 0.7rem;
    background-color: rgb(53, 53, 53);
    border-radius: 50%;
    cursor: pointer;
}

header > img{
    width: 10%;
    cursor: pointer;
}

#options-container{
    margin: 1rem 0rem;
}

.option{
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 1rem 0rem;
}

.op-head{
    color:white;
    text-decoration: none;
}

.option > a{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
}

.option:hover{
    background-color: gray;
    border-radius: 2rem;
}